<ion-content>
    <ion-slides pager="true" style="height: 100%; width: 100%; color: white; background-color: rgb(0, 0, 0);">
      <ion-slide class="slide0">
      <p>Where everything is how you want to <br>
      A place under your control<br>
      Somewhere to enjoy yourself</p>
      </ion-slide>
    
      <ion-slide class="slide1">
        <p>So you feel relieved <br>
        So you feel at home</p>
      </ion-slide>
    
      <ion-slide class="slide2">
        <p>Welcome Ohm</p>
        <ion-buttons>
          <button ion-button class="button" (click)="goHome()"> Home </button>
        </ion-buttons>
      </ion-slide>

    </ion-slides>

</ion-content>
