<ion-tabs>

  <ion-tab-bar slot="start" style="background-color: transparent;">
    <ion-tab-button tab="add" style="background-color:transparent;">
      <ion-icon name="add" style="color: red;"></ion-icon>
      <ion-label style="color: white;">Add</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" style="background-color: transparent;">
      <ion-icon name="home" style="color: red;"></ion-icon>
      <ion-label style="color: white;">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lists" style="background-color: transparent;">
      <ion-icon name="list" style="color: red;"></ion-icon>
      <ion-label style="color: white;">List</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>