
ion-content {
    --ion-background-color:black;
    --ion-text-color: white;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
}

.title {
  font-size: 30px;
  text-align: center;
}
button {
  background:  linear-gradient(#da3f5c
  , #b00202);
  width: 36.15vw;
}
