

<ion-content class="no-scroll">
<ion-list class="cont" style="margin-top: 20px;">
  <div class="cont" *ngFor="let s of songs;let i=index;">
    <ion-item-sliding class="cont">
      <ion-item class="cont">
        <ion-avatar class="cont" slot="start"> 
          <img src="assets/images/{{s.image}}"> 
        </ion-avatar> 
        <ion-label class="cont">{{s.nombre}} - {{s.grupo}} <br> {{s.album}} <br> {{s.genero}} <br> {{s.duracion}}</ion-label>
      </ion-item>
      <ion-item-options class="cont" side="end">
        <button ion-button (click)="remove(i)">Remove</button>
        <button ion-button (click)="goMod(i)">Edit</button>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-list>
</ion-content>
