.button {
    position: fixed;
    padding: 10px 20px 10px 20px;
    margin: 120px 0px 0px 85px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    background-image: linear-gradient(#da3f5c
    , #b00202);
}
.cont ion-item {
    margin-top: 10px;
    color: #b00202;
}
.item-interactive {
    color:black;
}
