@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.img {
  background-repeat: no-repeat;
  height: 100%;
  position: fixed;
}
.items {
  margin: 130px 0px 20px 20px;
}
ion-item {
  --background: transparent;
  --color: #fff;
  --border-style: none;
  padding-bottom: 30px;
}
