
ion-content {
    --ion-background-color:black;
    --ion-text-color: white;
}

.title {
  font-size: 30px;
  text-align: center;
}
button {
  background:  linear-gradient(#da3f5c
  , #b00202);
  width: 36.15vw;
}
ion-item-sliding {
  height: 160px;
}
