<ion-content>
  <img class="img" src="assets/images/OHM.jpg">

<div class="items">
    <ion-item>
      <ion-label position="floating">User name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
  </div>
  <ion-item>
  <div style="color: red;">
    <a href="#" style="color: red; margin: 40px 0px 0px 45px; ">Sign in</a>
    <p style="margin: -19px 0px 0px 114px;">/  <a href="#" style="color: red; margin-left: 13px;">Log in</a></p>
   
  </div>
  </ion-item>
    
  
  </ion-content>